---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Richard Ramírez">
  <div class="under-construction">
    <h1>Sitio en Construcción</h1>
  </div>
</Layout>

<style>
  .under-construction {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .under-construction h1 {
    font-size: 5rem;
    margin: 0;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
</style>
