<section>
  <h2>Sobre mi</h2>
  <p>
    Capaz de adaptarme a distintas situaciones de trabajo, ya sea en equipo o en
    proyectos individuales. Con un enfoque en la experiencia de usuario y la
    colaboración, me dedico a crear experiencias de alta calidad. Mi enfoque en
    la experiencia de usuario me permite diseñar y desarrollar interfaces que
    sean fáciles de usar y que se adapten a las necesidades de los usuarios.
  </p>
</section>

<style>
  section {
    padding: var(--gap);
    background-color: var(--alt-bg-color);

    & h2 {
      /* margin-top: 0; */
      text-align: center;
    }

    & p {
      max-width: 65ch;
      margin-right: auto;
      margin-left: auto;

      font-size: 1.15em;
      line-height: 1.5;
    }
  }
</style>
