<section>
  <h2>Sobre mi</h2>
  <p>
    Capaz de adaptarme a distintas situaciones de trabajo, ya sea en equipo o en
    proyectos individuales. Con un enfoque en la experiencia de usuario y la
    colaboración, me dedico a crear experiencias de alta calidad. Mi enfoque en
    la experiencia de usuario me permite diseñar y desarrollar interfaces que
    sean fáciles de usar y que se adapten a las necesidades de los usuarios.
  </p>
</section>

<style>
  section {
    background-color: color-mix(
      in srgb,
      var(--dark-color) 96%,
      var(--light-color)
    );
  }
</style>
