---

---

<header>
  <img src="/assets/images/image-profile.png" alt="Richard Ramírez" />
  <div class="name-and-role">
    <h1>Richard Ramírez</h1>
    <p>Desarrollador Frontend</p>
  </div>
</header>

<style>
  header {
    font-size: 1.2em;
    text-align: center;
    & .name-and-role {
      padding: 1px; /* to avoid margin collapse */
    }

    & h1 {
      color: var(--main-color);
    }

    & img {
      margin-right: auto;
      margin-left: auto;
    }
  }
</style>
