---
import ExternalLinkIcon from "@/components/icons/ExternalLinkIcon.astro";

interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a href={link} target="_blank">
  <article>
    <img
      src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg"
      alt=""
    />
    <h3>
      Nombre del Proyecto
      <ExternalLinkIcon width="1.2em" height="1.2em" />
    </h3>
    <p>Descripción larga del proyecto para que salte de línea</p>
    <ul>
      <li>Tecnología 1</li>
      <li>Tecnología 2</li>
      <li>Tecnología 3</li>
    </ul>
  </article>
</a>

<style>
  article {
    padding: var(--gap);

    background-color: var(--alt-bg-color);

    border-radius: var(--border-radius);

    &:hover h3 {
      color: var(--main-color);
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) / 2);

    padding: 0;

    & li {
      padding: calc(var(--gap) / 2) var(--gap);

      font-size: 0.75em;
      background-color: var(--dark-color);

      border-radius: var(--border-radius);
    }
  }

  h3 {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }
</style>
