---
import SkillCardLink from '@/components/SkillCardLink.astro'
import skills from '@/data/skills.json'
---

<section>
  <h2>Habilidades</h2>
  <p>Lenguajes y herramientas que utilizo en mi trabajo.</p>
  <ul>
    {
      skills.map((skill) => (
        <li>
          <SkillCardLink text={skill.name} link={skill.doc} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    margin-top: 2em;
    padding: 2em var(--gap) 3em;

    text-align: center;
    background-color: var(--alt-bg-color);
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 1.15em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--gap) / 2);
    margin-top: 3em;
  }
  li {
    flex: auto;
    border-radius: var(--border-radius);
  }
</style>
