---
import ExternalLinkIcon from "./ExternalLinkIcon.astro";
---

<ul>
  <li>
    <a href="https://www.linkedin.com/in/rrdevme/" target="_blank">
      Linkedin
      <ExternalLinkIcon width="18" height="18" />
    </a>
  </li>
  <li>
    <a href="https://github.com/rr69sport">
      GitHub
      <ExternalLinkIcon width="18" height="18" />
    </a>
  </li>
  <li class="full-left">
    <a
      href="/assets/cv/richard-ramirez-cv.pdf"
      download="richard-ramirez-cv.pdf"
    >
      Descargar CV
    </a>
  </li>
</ul>

<style>
  ul {
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
    max-width: var(--max-width);

    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--gap);

    padding: var(--gap);

    animation: bg-social-media linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
    backdrop-filter: blur(5px);

    background-color: var(--dark-color);

    & li.full-left {
      margin-left: auto;
    }

    & a {
      display: flex;
      align-items: center;
      gap: var(--gap);

      padding: calc(var(--gap) / 2) var(--gap);
      border-radius: 3px;

      color: var(--dark-color);
      font-weight: 700;
      background-color: var(--light-color);

      &:hover {
        background-color: var(--main-color);
      }
    }
  }

  @keyframes bg-social-media {
    to {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
</style>
