<section>
  <h2>Sobre mi</h2>
  <p>
    Con un enfoque en la experiencia de usuario y la colaboración, me dedico a crear experiencias de alta calidad. Desarrollando soluciones intuitivas y eficientes para mejorar la experiencia de los
    usuarios.
  </p>
  <p>Adaptabilidad para trabajar en equipo, con una mentalidad de colaboración y una actitud positiva.</p>
</section>

<style>
  section {
    padding: 3em var(--gap);

    background-color: var(--alt-bg-color);

    & h2 {
      margin-top: 0;

      text-align: center;
    }

    & p {
      max-width: 65ch;
      margin-right: auto;
      margin-left: auto;

      font-size: 1.15em;
      line-height: 1.5;
    }
  }
</style>
